.App {
}

.shelf{
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row;
}

.productcard {
  width: 200px;
  height: 300px;
  text-align: center;
}


.productcard .addtocartbtn{
  display:block;
  margin: 0 auto;
}
